<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select Option:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Select any option</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ul>
      <ion-button [routerLink]="['/counties']" fill="solid">Countie flags</ion-button>
      <br>
      <ion-button [routerLink]="['/movies']" fill="solid">Movies</ion-button>
      <br>
      <ion-button [routerLink]="['/news']" fill="solid">News</ion-button>
      <br>
      <ion-button [routerLink]="['/weather']" fill="solid">Weather</ion-button>
    </ul>
  </div>
</ion-content>
